**/__pycache__/
.venv
.venv/
.env
.env/
.vscode/
.pytest_cache/
*.egg-info/
/instance/
*.log
/temp/
.gitdev/

# Byte-compiled files
*.py[cod]

# Distribution / packaging
build/
dist/

# Unit test / coverage reports
htmlcov/
.coverage